@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 1024px) {

    /* width */
    ::-webkit-scrollbar {
        width: 10px;
        height: 5px;
    }
}

/* Track */
::-webkit-scrollbar-track {
    background: #011627;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #607B96;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    /* background: #555; */
}

.snippet-scrollbar::-webkit-scrollbar {
    width: 3px;
    height: 5px;
}

.snippet-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.project-scrollbar::-webkit-scrollbar {
    width: 3px;
    height: 5px;
}

.project-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}